<template>
  <f7-page class="page-title color-theme-red">
    <f7-navbar back-link="Back" class="navbar" style="background-color:#2699fb"></f7-navbar>
    <div class="container">
      <f7-nav-title-large sliding class="title">Lupa Password</f7-nav-title-large>

      <!-- Email -->
      <div class="form-group">
        <label for="email" hidden="true" autocomplete="false"></label>
        <input class="form-control" type="email" placeholder="Email" v-model="email" />
      </div>

      <!-- Message -->
      <div class="message-text">
        Masukan password yang sudah kamu
        daftarkan sebelumnya.
      </div>
    </div>

    <!-- Button -->
    <div class="btn-container">
      <button class="blue-btn" @click="onLogin">continue</button>
    </div>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    onLogin() {
      let url = "https://jsonplaceholder.typicode.com/posts";
      console.log(`${this.email} ${this.password}`);
      this.$f7.request.get(url, function(data) {
        console.log(data);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  background: white;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}
.title {
  margin-bottom: 32px;
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2699fb;
}
.form-group {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.form-control {
  $blue: #bce0fd;

  width: 100%;
  border: 1px solid $blue;
  padding: 16px 20px;
  color: darken($blue, 40%);

  &::placeholder {
    color: darken(#bce0fd, 10%);
  }
}
.message-text {
  text-align: center;
  color: #2699fb;
  font-size: 10px;
  width: 70%;
  margin: 0 auto;
}
.btn-container {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}
.blue-btn {
  color: white;
  background: #2699fb;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  padding: 19px;
  text-transform: uppercase;
}
</style>
