<template>
  <f7-page class="home2">
    <f7-navbar large :sliding="false">
      <f7-nav-left>
        <f7-link panel-open="left" icon-ios="f7:menu" icon-aurora="f7:menu" icon-md="material:menu"></f7-link>
      </f7-nav-left>

      <f7-nav-title sliding title="kantinq"></f7-nav-title>

      <f7-nav-right>
        <f7-link
          class="searchbar-enable"
          data-searchbar=".searchbar-components"
          icon-ios="f7:search"
          icon-aurora="f7:search"
          icon-md="material:search"
        ></f7-link>
      </f7-nav-right>

      <f7-searchbar
        class="searchbar-components"
        search-container=".components-list"
        search-in="a"
        expandable
        :disable-button="!this.$theme.aurora"
      ></f7-searchbar>
    </f7-navbar>

    <f7-block>
      <!-- Section Menus -->
      <h1 class="section-title">Menus</h1>
      <f7-row>
        <f7-col>
          <f7-link href="/category/makanan" class="card-link">
            <f7-card class="demo-card-header-pic card-outline">
              <f7-card-header
                class="no-border"
                valign="bottom"
                :style="'background-image:url('+img+')'"
              ></f7-card-header>
              <f7-card-content>
                <h2 class="name">Aneka Makanan</h2>
                <p class="description">Mulai Rp. 5K - 20K</p>
              </f7-card-content>
            </f7-card>
          </f7-link>
        </f7-col>
        <f7-col>
          <f7-link href="/category/minuman" class="card-link">
            <f7-card class="demo-card-header-pic card-outline">
              <f7-card-header
                class="no-border"
                valign="bottom"
                :style="'background-image:url('+img+')'"
              ></f7-card-header>
              <f7-card-content>
                <h2 class="name">Aneka Minuman</h2>
                <p class="description">Mulai Rp. 5K - 30K</p>
              </f7-card-content>
            </f7-card>
          </f7-link>
        </f7-col>
      </f7-row>

      <!-- Section Terlaris -->
      <h1 class="section-title">Terlaris</h1>
      <f7-link class="card-link" href="/category/makanan/item/nasi-goreng">
        <f7-card class="demo-card-header-pic card-outline">
          <f7-card-header
            class="no-border"
            valign="bottom"
            :style="'background-image:url('+img+')'"
          ></f7-card-header>
          <f7-card-content>
            <h2 class="name">Steak Papperoni</h2>
            <p class="description">Rp. 100K</p>
          </f7-card-content>
        </f7-card>
      </f7-link>
    </f7-block>
  </f7-page>
</template>

<script>
import AppNavbar2 from "@/components/app-navbar2";
export default {
  name: "home2",
  components: { AppNavbar2 },
  data() {
    return {
      img: require("@/assets/img/img1.jpg")
    };
  },
  mounted() {
    console.log(this.$f7route);
  }
};
</script>

<style lang="scss" scoped>
.home2 {
  background-color: white;
}
.block {
  margin-top: 0;
}
.demo-card-header-pic .card-header {
  height: 162px;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic {
  margin: 0;
  .card-content-padding .date {
    color: #8e8e93;
  }
}
.card-link {
  display: block;
  color: #6d6d72;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #7f7f7f;
}
.name {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
.description {
  font-size: 12px;
  color: #cccccc;
  margin: 0;
}
</style>
