<template>
  <f7-page class="menu-list">
    <f7-navbar :title="categoryName" back-link="Back"></f7-navbar>

    <!-- Section Menu List -->
    <f7-block>
      <h1 class="section-title">{{ categoryName | capitalize }}</h1>
      <f7-row>
        <f7-col width="50" v-for="(menu, i) in menus" :key="i" class="menu-list-item">
          <f7-link class="card-link" href="/category/makanan/item/nasi-goreng">
            <f7-card class="demo-card-header-pic card-outline">
              <f7-card-header class="no-border" valign="bottom" :style="menu.thumbnail"></f7-card-header>
              <f7-card-content>
                <h2 class="name">{{ menu.name }}</h2>
                <p class="description">Rp. 100K</p>
              </f7-card-content>
            </f7-card>
          </f7-link>
        </f7-col>
      </f7-row>
    </f7-block>

    <!-- Section Terlaris -->
    <f7-block>
      <h1 class="section-title">Terlaris</h1>
      <f7-link
        class="card-link"
        href="/category/makanan/item/nasi-goreng"
        v-for="(menu, i) in favoriteMenus"
        :key="i"
      >
        <f7-card class="demo-card-header-pic card-outline">
          <f7-card-header
            class="no-border"
            valign="bottom"
            :style="`background-image:url(https://source.unsplash.com/1600x900/?${menu})`"
          ></f7-card-header>
          <f7-card-content>
            <h2 class="name">Steak Papperoni</h2>
            <p class="description">Rp. 100K</p>
          </f7-card-content>
        </f7-card>
      </f7-link>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: "MenuList",
  data() {
    return {
      menus: [],
      favoriteMenus: ["pizza", "spaghetti"]
    };
  },
  computed: {
    categoryName() {
      return this.$f7route.params.categoryname;
    }
  },
  methods: {
    getPosts() {
      let baseUrl = "https://jsonplaceholder.typicode.com";
      let limit = 6;
      let endpoint = `${baseUrl}/posts?_start=0&_limit=${limit}`;
      return this.axios.get(endpoint).then(menus => {
        this.menus = menus.data.map(el => ({
          id: el.id,
          name: el.title,
          thumbnail: `background-image:url(https://source.unsplash.com/1600x900/?burger)`,
          price: 20000
        }));
      });
    }
  },
  created() {
    this.getPosts();
  }
};
</script>

<style lang="scss" scoped>
.menu-list {
  background: white;
}
.demo-card-header-pic .card-header {
  height: 162px;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic {
  margin: 0;
  .card-content-padding .date {
    color: #8e8e93;
  }
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  color: #7f7f7f;
}
.card-link {
  display: block;
  color: #6d6d72;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.menu-list-item {
  margin-bottom: 1rem;
}
.name {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  width: 136px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.description {
  font-size: 12px;
  color: #cccccc;
  margin: 0;
}
</style>
