<template>
  <f7-page>
    <f7-navbar back-link="Back" class="navbar" style="background-color:#2699fb"></f7-navbar>
    <div class="container">
      <f7-nav-title-large sliding class="title">Buat Akun</f7-nav-title-large>

      <!-- Nama -->
      <div class="form-group">
        <label for="name" hidden="true"></label>
        <input class="form-control" type="text" placeholder="Full name" v-model="name" />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email" hidden="true" autocomplete="false"></label>
        <input class="form-control" type="email" placeholder="Email" v-model="email" />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password" hidden="true"></label>
        <input class="form-control" type="password" placeholder="Password" v-model="password" />
      </div>

      <!-- Confirm Passwrod -->
      <div class="form-group">
        <label for="confirm_password" hidden="true"></label>
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          v-model="confirm_password"
        />
      </div>

      <!-- Message -->
      <div class="message-text">
        <span>
          By creating an account you agree to our
          Terms of Service and Privacy Policy
        </span>
      </div>
    </div>

    <!-- Button -->
    <div class="btn-container">
      <button class="blue-btn" @click="onLogin">continue</button>
    </div>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirm_password: ""
    };
  },
  methods: {
    onLogin() {
      let url = "https://jsonplaceholder.typicode.com/posts";
      console.log(`${this.email} ${this.password}`);
      this.$f7.request.get(url, function(data) {
        console.log(data);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  background: white;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}
.title {
  margin-bottom: 32px;
  margin-top: 60px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #2699fb;
}
.form-group {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.form-control {
  $blue: #bce0fd;

  width: 100%;
  border: 1px solid $blue;
  padding: 16px 20px;
  color: darken($blue, 40%);

  &::placeholder {
    color: darken(#bce0fd, 10%);
  }
}
.message-text {
  text-align: center;
  color: #2699fb;
  font-size: 10px;
  width: 70%;
  margin: 0 auto;
}
.btn-container {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}
.blue-btn {
  color: white;
  background: #2699fb;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  padding: 19px;
  text-transform: uppercase;
}
</style>
