<template>
  <f7-page>
    <app-navbar title="settings"></app-navbar>
  </f7-page>
</template>

<script>
import AppNavbar from "@/components/app-navbar";

export default {
  name: "SettingsPage",
  components: { AppNavbar }
};
</script>

