<template>
  <f7-page class="single-item">
    <f7-navbar title="Nama menu" back-link="Back"></f7-navbar>
    <div class="image-preview">
      <img src="https://source.unsplash.com/1600x900/?sushi" alt="preview-image" />
    </div>
    <div class="content-body">
      <h1 class="menu-name">Nasi Goreng</h1>
      <h2
        class="menu-tagline"
      >Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <f7-fab position="right-bottom" slot="fixed">
      <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
      <f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
      <f7-fab-buttons position="top">
        <f7-fab-button label="Add to cart" @click="onAddToCart">
          <f7-icon ios="f7:check" aurora="f7:check" md="material:check"></f7-icon>
        </f7-fab-button>
        <f7-fab-button label="Remove from cart" @click="onRemoveFromCart">
          <f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
        </f7-fab-button>
      </f7-fab-buttons>
    </f7-fab>
  </f7-page>
</template>

<script>
export default {
  name: "SingleItem",
  methods: {
    onAddToCart() {
      console.log("onAddToCart");
    },
    onRemoveFromCart() {
      console.log("onRemoveFromCart");
    }
  }
};
</script>

<style lang="scss" scoped>
.single-item {
  color: #2699fb;
  background-color: white;
}
.image-preview {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.content-body {
  padding: 22px 32px;
}
.menu-name {
  margin: 0 0 24px;
  font-size: 40px;
}
</style>
