<template>
  <f7-navbar :sliding="false" large>
    <f7-nav-left>
      <f7-link icon-ios="f7:menu" icon-aurora="f7:menu" icon-md="material:menu" panel-open="left"></f7-link>
    </f7-nav-left>
    <f7-nav-title sliding>{{ pageTitle }}</f7-nav-title>
    <f7-nav-title-large sliding>{{ pageTitle }}</f7-nav-title-large>
  </f7-navbar>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true }
  },
  computed: {
    pageTitle() {
      return this.title ? this.title : "Resto App";
    }
  }
};
</script>
