<template>
  <f7-page>
    <f7-list>
      <f7-list-item link="/" title="Homepage" panel-close></f7-list-item>
      <f7-list-item link="/menu-list/" title="Menu List" panel-close></f7-list-item>
      <f7-list-item link="/most-ordered-menus/" title="Most Ordered Menus" panel-close></f7-list-item>
      <f7-list-item link="/out-of-stock-menus/" title="Out of Stock Menus" panel-close></f7-list-item>
      <f7-list-item link="/setting/" title="Setting" panel-close></f7-list-item>
    </f7-list>
  </f7-page>
</template>

<script>
export default {
  name: "AppPanelRight"
};
</script>
