<template>
  <f7-page>
    <f7-list>
      <f7-list-item link="/" title="Homepage" panel-close></f7-list-item>
      <f7-list-item link="/menu-list/" title="Daftar Menu" panel-close></f7-list-item>
      <f7-list-item link="/menu-list/makanan" title="Daftar Makanan" panel-close></f7-list-item>
      <f7-list-item link="/menu-list/minuman" title="Daftar Minuman" panel-close></f7-list-item>
      <f7-list-item link="/menu-list-favorite/" title="Daftar Menu Favorite" panel-close></f7-list-item>
      <f7-list-item link="/menu-list-empty/" title="Daftar menu habis" panel-close></f7-list-item>
      <f7-list-item link="/settings/" title="Setting" panel-close></f7-list-item>
    </f7-list>
  </f7-page>
</template>

<script>
export default {
  name: "AppPanelLeft"
};
</script>
