<template>
  <f7-navbar large :sliding="false">
    <f7-nav-left>
      <f7-link panel-open="left" icon-ios="f7:menu" icon-aurora="f7:menu" icon-md="material:menu"></f7-link>
    </f7-nav-left>

    <f7-nav-title sliding :title="title"></f7-nav-title>

    <f7-nav-right>
      <f7-link
        class="searchbar-enable"
        data-searchbar=".searchbar-components"
        icon-ios="f7:search"
        icon-aurora="f7:search"
        icon-md="material:search"
      ></f7-link>
    </f7-nav-right>

    <f7-searchbar
      class="searchbar-components"
      search-container=".components-list"
      search-in="a"
      expandable
      :disable-button="!this.$theme.aurora"
    ></f7-searchbar>
  </f7-navbar>
</template>

<script>
export default {
  name: "AppNavbar2",
  props: {
    title: String
  }
};
</script>

