/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #2699fb;
  --f7-theme-color-rgb: 211, 20, 18;
  --f7-theme-color-shade: darken(#2699fb, 40%);
  --f7-theme-color-tint: lighten(#2699fb, 30%);
}

/* Your app custom styles here */
